.hg
.bzr
.svn

*.pyc
*.pyo
*.tmp*
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
*.elc
*.orig
*.swp
*.bak
*.old
*.db
*.log
*~

bin
/build
develop-eggs
eggs
fake-eggs
parts
dist
.settings
.environment
.project
.pydevproject

django.wsgi
localhost_settings.py
settings_local.py
settings_localhost.py
settings_dev.py
prod_settings.py
settings_prod.py
.coverage

whoosh
static
static_assets/.sass-cache
media
_media
_logs
reports
##########################
